/*
	RD CSS Normalize
	
	Powered by Руслан Enfo Дмитриев
	http://rdmitriev.ru/githab/RD
	https://github.com/RDmitriev/RD
*/

*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;background:transparent;margin:0;padding:0;line-height: normal;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,button{margin:0;padding:0;}input,select,a img{vertical-align:middle;}

::selection {
	background-color: #e5e5e5;
}

/*
	Typography
*/

body {
	line-height: 1;		
	font-size: 14px;
	color: #404040;
	line-height:20px;
	font-family: 'Noto Sans', Arial;
}

a {
	font-size: 14px;
	color: #427fed;
	text-decoration: none;
}

a:hover {
	color: #404040;
	text-decoration: underline;
}

p {
	padding-bottom: 16px;
	
}

h1 {
	font-size: 20px;
	padding-bottom: 8px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 8px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	font-weight: 400;
	line-height: 1;
	color: #777;
}

ul, ol {
	margin-left: 40px;
	margin-bottom: 15px;
	list-style-position: inside;
}

ul li, ol li{
	margin-bottom: 7px;
}

mark {
	color: #000;
	background: #00B8D4;
}