/*
	RD CSS/JS Framework + Normalize + Blank
	
	Powered by Ruslan Dmitriev
	http://rdmitriev.ru/githab/RD
	https://github.com/RDmitriev/RD
*/

/*
	Wrapper
*/

.rd-wrapper{
	max-width:1280px;
	margin:0 auto;
	position:relative;
	padding:0 16px;
}

/*
	Text align
*/

.rd-center{
	text-align: center !important;
}

.rd-left{
	text-align: left !important;
}

.rd-right{
	text-align: right !important;
}

/*
	Box
*/

.rd-white {
	background-color: #ffffff;
	padding: 16px;
	margin-bottom: 16px;
	position: relative;
}

[class^="rd-box"] {
	overflow: hidden;
	padding: 50px 0;
	position: relative;
}

/*
	Breadcrumbs
*/

.rd-breadcrumbs {
	list-style: none;
	padding: 8px 16px;
	margin: 0;
	margin-bottom: 16px;
	background-color: #e5e5e5;
}

.rd-breadcrumbs>li {
	display: inline;
	margin-bottom: 0;
}

.rd-breadcrumbs>li+li:before {
	content: "/\00a0";
	padding: 0 5px;
}

.rd-breadcrumbs>li>a {
	display: inline;
}

/*
	Table
*/

.rd-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 16px;
}

.rd-table tr, .rd-table th {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

.rd-table td, .rd-table th {
	padding: 6px;
}

/*
	Table-zebra
*/

.rd-zebra th {
	font-weight: bold;
	background-color: #e5e5e5;
}

.rd-zebra tr:nth-child(odd):not(:first-child), .rd-zebra tbody tr:first-child {
	background-color: #f5f5f5;
}

.rd-zebra tr:hover{
	background-color: #B2EBF2 !important;
}

.rd-table-border td{
	border: 1px solid #000;
}

/*
	Table-zebra2
*/

.rd-zebra2 tr {
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.rd-zebra2 tr:hover{
	background: #f1f1f1;
}

.rd-zebra2 tbody tr:last-child {
	border-bottom: 0;
}

.rd-zebra2 td, .rd-zebra2 th {
	padding: 8px 0;
	padding-right: 8px;
}

/*
	Form
*/

[class^="rd-form"]{
	
}

[class^="rd-form"] input,
[class^="rd-form"] textarea,
[class^="rd-form"] select {
	outline: none;
	display: block;
	font: 12px 'Noto Sans', Arial;
	color: #00bcd4;
}

[class^="rd-form"] input[type=radio],
[class^="rd-form"] input[type=checkbox] {
	display: inline-block;
}

[class^="rd-form"] input[type=submit] {
	outline: none;
	display: block;
}

[class^="rd-form"] input[type=image]:hover,
[class^="rd-form"] input[type=image]:focus {
	border: 0;
}

[class^="rd-form"] textarea,
[class^="rd-form"] select,
[class^="rd-form"] input[type=text],
[class^="rd-form"] input[type=email],
[class^="rd-form"] input[type=password],
[class^="rd-form"] input[type=date],
[class^="rd-form"] input[type=datetime-local] {
	width: 100%;
	border: 1px solid #d8d8d8;
	padding: 5px;
	color: #404040;
}

[class^="rd-form"] textarea {
	height: 100px;
	resize: none;
}

[class^="rd-form"] input[type=submit],
[class^="rd-form"] input[type=button],
[class^="rd-form"] button {
	cursor: pointer;
	padding: 16px;
	display: inline;
	background-color: #ffffff;
	text-transform: uppercase;
	border: 0;
	transition: all 0.3s;
}

[class^="rd-form"] input[type=submit]:hover,
[class^="rd-form"] input[type=button]:hover,
[class^="rd-form"] button:hover {
	opacity: 0.9;
	background:#B2EBF2;
	background: #00bcd4;
    color: #fff;
}

[class^="rd-form"] input[type=checkbox] {
	display: inline;
}

[class^="rd-form"] input[type=file] {
	border: 0px;
	background-color: transparent;
}

.labelContainer{
	position: relative;
	margin-bottom: 16px;
}
.labelContainer:last-child{
	margin-bottom: 0;
}
[class^="rd-form"] .label label{
	position: absolute;
    top: 7px;
	left: 5px;
	pointer-events:none;
	transition: all ease 0.2s;
	font-size:14px;
	color:#b0b0b0;
	padding:0 5px;
	font-family: 'Noto Sans', sans-serif;
}
[class^="rd-form"] .label input, [class^="rd-form"] .label textarea{
	padding:10px !important;
}
[class^="rd-form"] .label input:focus ~ label,
[class^="rd-form"] .label input:valid ~ label,
[class^="rd-form"] .label input:read-only ~ label,
[class^="rd-form"] .label textarea:focus ~ label,
[class^="rd-form"] .label textarea:valid ~ label{
	top: -10px;
	color: #00838F;
	background: #fff;
}

/*
	Upload
*/

.uploadBox{
	display: block;
	padding: 40px 0;
	cursor: pointer;
	text-align: center;
	border: 3px dashed transparent;
	width: 100%;
}
.uploadBox input{
	display:none;
}
.uploadBox i{
	color: #4DC7EC;
	transition: all 0.5s;
}
.uploadBox:hover i{
	color: #FFA726;
}
.is-dragover{
	border: 3px dashed #ccc;
}
.is-dragover i{
	color: #FFA726;
}
.uploadPreview>div{
	position: relative;
	display: inline-block;
	height: 100px;
}
.uploadPreview>div>img{
	height: 169px !important;
}
.uploadPreview a.delete{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 25px;
	background-color: #00BCD4;
	color:#fff;
	padding: 8px;
}
.uploadPreview>div:hover a.delete{
	display: block;
}
.uploadPreview.one>div, .uploadPreview.one>div>img{
	height: auto;
}

/*
	Buttons
*/

[class^="rd-btn"] {
	display: inline-block;
	border: 0 !important;
	padding: 16px;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	text-transform: uppercase;
}

[class^="rd-btn"]:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #fff;
}
.rd-btn-inactive {
	color: #fff;
	background-color: #0097A7 !important;
}
.rd-btn-active {
	color: #fff;
	background-color: #006064 !important;
}
.rd-btn-success {
	color: #fff;
	background-color: #53a93f !important;
}

.rd-btn-danger {
	color: #fff;
	background-color: #dd4b39 !important;
}

.rd-btn-blue {
	color: #fff;
	background-color: #427fed !important;
}

.rd-btn-xs {
	padding: 8px;
	font-size: 12px;
}

/*
	Information
*/
[class^="rd-info"] {
	display: block;
	border: 0 !important;
	padding: 16px;
	text-decoration: none;
	margin-bottom: 16px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.rd-info-success {
	color: #fff;
	background-color: #53a93f !important;
}

.rd-info-danger {
	color: #fff;
	background-color: #dd4b39 !important;
}

.rd-info-blue {
	color: #fff;
	background-color: #427fed !important;
}

/*
	Ul
*/

[class^="rd-ul"] {
	list-style-position: inside;
	list-style: none;
	padding: 0;
	margin: 0;
}

[class^="rd-ul"] li {
	list-style-position: inside;
}

[class^="rd-ul"] ul {
	list-style:none;
}

[class^="rd-ul"] ul li {
	margin-left: 10px;
}

[class^="rd-ul"] a {
	text-decoration: none;
}

/*
	Pagination
*/

.rd-pagination {
	margin:0;
	padding:0;
	/*-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;*/
	user-select: none;
}

.rd-pagination a {
	display: inline-block;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	text-decoration: none;
	color: #262626;
	margin:0;
	padding: 8px;
	font-size: 16px;
}

.rd-pagination a:hover {
	color:#262626;
	background:#e5e5e5;
}

.rd-pagination a.active,
.rd-pagination a.disabled {
	pointer-events: none;
	cursor: default;
	background:#e5e5e5;
}

.rd-pagination a:first-child {
	border-radius:5px 0 0 5px;
	border-left:1px solid #d8d8d8;
}

.rd-pagination a:last-child {
	border-radius:0 5px 5px 0;
}

/*
	Menu
*/

[class^="rd-menu"]{
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: justify;
}
[class^="rd-menu"]:after{
	content: '';
    display: inline-block;
    width: 100%;
}
[class^="rd-menu"]>li{
	display: inline-block;
    vertical-align: top;
	font-size: initial;
	position: relative;
}
[class^="rd-menu"]>li:first-child a{
	padding-left: 0;
}
[class^="rd-menu"]>li:last-child a{
	padding-right: 0;
}
[class^="rd-menu"]>li>a{
	display: block;
}

@media all and (max-width: 500px) {
	[class^="rd-menu"]{
		display:none;
	}
}

/*
	Grid
*/

[class^="rd-row"] {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.rd-row>[class^="rd-col-"]{
	display: inline-block;
    vertical-align: top;
	font-size: initial;
	position: relative;
}

.rd-row [class^="rd-line-"]{
	margin-bottom: 8px;
}

.rd-col-1 {width: 8.33333%;}
.rd-col-2 {width: 16.66667%;}
.rd-col-3 {width: 25%;}
.rd-col-4 {width: 33.33333%;}
.rd-col-5 {width: 41.66667%;}
.rd-col-6 {width: 50%;}
.rd-col-7 {width: 58.33333%;}
.rd-col-8 {width: 66.66667%;}
.rd-col-9 {width: 75%;}
.rd-col-10 {width: 83.33333%;}
.rd-col-11 {width: 91.66667%;}
.rd-col-12 {width: 100%;}

@media all and (max-width: 1200px){
	.rd-col-1200-center {text-align: center !important;}
	.rd-col-1200-right {text-align: right !important;}
	.rd-col-1200-left {text-align: left !important;}
	.rd-col-1200-0 {display: none !important;}
	.rd-col-1200-1 {width: 8.33333%;}
	.rd-col-1200-2 {width: 16.66667%;}
	.rd-col-1200-3 {width: 25%;}
	.rd-col-1200-4 {width: 33.33333%;}
	.rd-col-1200-5 {width: 41.66667%;}
	.rd-col-1200-6 {width: 50%;}
	.rd-col-1200-7 {width: 58.33333%;}
	.rd-col-1200-8 {width: 66.66667%;}
	.rd-col-1200-9 {width: 75%;}
	.rd-col-1200-10 {width: 83.33333%;}
	.rd-col-1200-11 {width: 91.66667%;}
	.rd-col-1200-12 {width: 100%;}
}

@media all and (max-width: 1100px){
	.rd-col-1100-center {text-align: center !important;}
	.rd-col-1100-right {text-align: right !important;}
	.rd-col-1100-left {text-align: left !important;}
	.rd-col-1100-0 {display: none !important;}
	.rd-col-1100-1 {width: 8.33333%;}
	.rd-col-1100-2 {width: 16.66667%;}
	.rd-col-1100-3 {width: 25%;}
	.rd-col-1100-4 {width: 33.33333%;}
	.rd-col-1100-5 {width: 41.66667%;}
	.rd-col-1100-6 {width: 50%;}
	.rd-col-1100-7 {width: 58.33333%;}
	.rd-col-1100-8 {width: 66.66667%;}
	.rd-col-1100-9 {width: 75%;}
	.rd-col-1100-10 {width: 83.33333%;}
	.rd-col-1100-11 {width: 91.66667%;}
	.rd-col-1100-12 {width: 100%;}
}

@media all and (max-width: 1000px){
	.rd-col-1000-center {text-align: center !important;}
	.rd-col-1000-right {text-align: right !important;}
	.rd-col-1000-left {text-align: left !important;}
	.rd-col-1000-0 {display: none !important;}
	.rd-col-1000-1 {width: 8.33333%;}
	.rd-col-1000-2 {width: 16.66667%;}
	.rd-col-1000-3 {width: 25%;}
	.rd-col-1000-4 {width: 33.33333%;}
	.rd-col-1000-5 {width: 41.66667%;}
	.rd-col-1000-6 {width: 50%;}
	.rd-col-1000-7 {width: 58.33333%;}
	.rd-col-1000-8 {width: 66.66667%;}
	.rd-col-1000-9 {width: 75%;}
	.rd-col-1000-10 {width: 83.33333%;}
	.rd-col-1000-11 {width: 91.66667%;}
	.rd-col-1000-12 {width: 100%;}
}

@media all and (max-width: 900px){
	.rd-col-900-center {text-align: center !important;}
	.rd-col-900-right {text-align: right !important;}
	.rd-col-900-left {text-align: left !important;}
	.rd-col-900-0 {display: none !important;}
	.rd-col-900-1 {width: 8.33333%;}
	.rd-col-900-2 {width: 16.66667%;}
	.rd-col-900-3 {width: 25%;}
	.rd-col-900-4 {width: 33.33333%;}
	.rd-col-900-5 {width: 41.66667%;}
	.rd-col-900-6 {width: 50%;}
	.rd-col-900-7 {width: 58.33333%;}
	.rd-col-900-8 {width: 66.66667%;}
	.rd-col-900-9 {width: 75%;}
	.rd-col-900-10 {width: 83.33333%;}
	.rd-col-900-11 {width: 91.66667%;}
	.rd-col-900-12 {width: 100%;}
}

@media all and (max-width: 800px) {
	.rd-col-800-center {text-align: center !important;}
	.rd-col-800-right {text-align: right !important;}
	.rd-col-800-left {text-align: left !important;}
	.rd-col-800-0 {display: none !important;}
	.rd-col-800-1 {width: 8.33333%;}
	.rd-col-800-2 {width: 16.66667%;}
	.rd-col-800-3 {width: 25%;}
	.rd-col-800-4 {width: 33.33333%;}
	.rd-col-800-5 {width: 41.66667%;}
	.rd-col-800-6 {width: 50%;}
	.rd-col-800-7 {width: 58.33333%;}
	.rd-col-800-8 {width: 66.66667%;}
	.rd-col-800-9 {width: 75%;}
	.rd-col-800-10 {width: 83.33333%;}
	.rd-col-800-11 {width: 91.66667%;}
	.rd-col-800-12 {width: 100%;}
}

@media all and (max-width: 700px) {
	.rd-col-700-center {text-align: center !important;}
	.rd-col-700-right {text-align: right !important;}
	.rd-col-700-left {text-align: left !important;}
	.rd-col-700-0 {display: none !important;}
	.rd-col-700-1 {width: 8.33333%;}
	.rd-col-700-2 {width: 16.66667%;}
	.rd-col-700-3 {width: 25%;}
	.rd-col-700-4 {width: 33.33333%;}
	.rd-col-700-5 {width: 41.66667%;}
	.rd-col-700-6 {width: 50%;}
	.rd-col-700-7 {width: 58.33333%;}
	.rd-col-700-8 {width: 66.66667%;}
	.rd-col-700-9 {width: 75%;}
	.rd-col-700-10 {width: 83.33333%;}
	.rd-col-700-11 {width: 91.66667%;}
	.rd-col-700-12 {width: 100%;}
}

@media all and (max-width: 600px) {
	.rd-col-600-center {text-align: center !important;}
	.rd-col-600-right {text-align: right !important;}
	.rd-col-600-left {text-align: left !important;}
	.rd-col-600-0 {display: none !important;}
	.rd-col-600-1 {width: 8.33333%;}
	.rd-col-600-2 {width: 16.66667%;}
	.rd-col-600-3 {width: 25%;}
	.rd-col-600-4 {width: 33.33333%;}
	.rd-col-600-5 {width: 41.66667%;}
	.rd-col-600-6 {width: 50%;}
	.rd-col-600-7 {width: 58.33333%;}
	.rd-col-600-8 {width: 66.66667%;}
	.rd-col-600-9 {width: 75%;}
	.rd-col-600-10 {width: 83.33333%;}
	.rd-col-600-11 {width: 91.66667%;}
	.rd-col-600-12 {width: 100%;}
}

@media all and (max-width: 500px) {
	.rd-col-500-center {text-align: center !important;}
	.rd-col-500-right {text-align: right !important;}
	.rd-col-500-left {text-align: left !important;}
	.rd-col-500-0 {display: none !important;}
	.rd-col-500-1 {width: 8.33333%;}
	.rd-col-500-2 {width: 16.66667%;}
	.rd-col-500-3 {width: 25%;}
	.rd-col-500-4 {width: 33.33333%;}
	.rd-col-500-5 {width: 41.66667%;}
	.rd-col-500-6 {width: 50%;}
	.rd-col-500-7 {width: 58.33333%;}
	.rd-col-500-8 {width: 66.66667%;}
	.rd-col-500-9 {width: 75%;}
	.rd-col-500-10 {width: 83.33333%;}
	.rd-col-500-11 {width: 91.66667%;}
	.rd-col-500-12 {width: 100%;}
}

@media all and (max-width: 400px) {
	.rd-col-400-center {text-align: center !important;}
	.rd-col-400-right {text-align: right !important;}
	.rd-col-400-left {text-align: left !important;}
	.rd-col-400-0 {display: none !important;}
	.rd-col-400-1 {width: 8.33333%;}
	.rd-col-400-2 {width: 16.66667%;}
	.rd-col-400-3 {width: 25%;}
	.rd-col-400-4 {width: 33.33333%;}
	.rd-col-400-5 {width: 41.66667%;}
	.rd-col-400-6 {width: 50%;}
	.rd-col-400-7 {width: 58.33333%;}
	.rd-col-400-8 {width: 66.66667%;}
	.rd-col-400-9 {width: 75%;}
	.rd-col-400-10 {width: 83.33333%;}
	.rd-col-400-11 {width: 91.66667%;}
	.rd-col-400-12 {width: 100%;}
}

@media all and (max-width: 300px) {
	.rd-col-300-center {text-align: center !important;}
	.rd-col-300-right {text-align: right !important;}
	.rd-col-300-left {text-align: left !important;}
	.rd-col-300-0 {display: none !important;}
	.rd-col-300-1 {width: 8.33333%;}
	.rd-col-300-2 {width: 16.66667%;}
	.rd-col-300-3 {width: 25%;}
	.rd-col-300-4 {width: 33.33333%;}
	.rd-col-300-5 {width: 41.66667%;}
	.rd-col-300-6 {width: 50%;}
	.rd-col-300-7 {width: 58.33333%;}
	.rd-col-300-8 {width: 66.66667%;}
	.rd-col-300-9 {width: 75%;}
	.rd-col-300-10 {width: 83.33333%;}
	.rd-col-300-11 {width: 91.66667%;}
	.rd-col-300-12 {width: 100%;}
}

@media all and (max-width: 200px) {
	.rd-col-200-center {text-align: center !important;}
	.rd-col-200-right {text-align: right !important;}
	.rd-col-200-left {text-align: left !important;}
	.rd-col-200-0 {display: none !important;}
	.rd-col-200-1 {width: 8.33333%;}
	.rd-col-200-2 {width: 16.66667%;}
	.rd-col-200-3 {width: 25%;}
	.rd-col-200-4 {width: 33.33333%;}
	.rd-col-200-5 {width: 41.66667%;}
	.rd-col-200-6 {width: 50%;}
	.rd-col-200-7 {width: 58.33333%;}
	.rd-col-200-8 {width: 66.66667%;}
	.rd-col-200-9 {width: 75%;}
	.rd-col-200-10 {width: 83.33333%;}
	.rd-col-200-11 {width: 91.66667%;}
	.rd-col-200-12 {width: 100%;}
}

@media all and (max-width: 100px) {
	.rd-col-100-center {text-align: center !important;}
	.rd-col-100-right {text-align: right !important;}
	.rd-col-100-left {text-align: left !important;}
	.rd-col-100-0 {display: none !important;}
	.rd-col-100-1 {width: 8.33333%;}
	.rd-col-100-2 {width: 16.66667%;}
	.rd-col-100-3 {width: 25%;}
	.rd-col-100-4 {width: 33.33333%;}
	.rd-col-100-5 {width: 41.66667%;}
	.rd-col-100-6 {width: 50%;}
	.rd-col-100-7 {width: 58.33333%;}
	.rd-col-100-8 {width: 66.66667%;}
	.rd-col-100-9 {width: 75%;}
	.rd-col-100-10 {width: 83.33333%;}
	.rd-col-100-11 {width: 91.66667%;}
	.rd-col-100-12 {width: 100%;}
}

/*
	Grid auto
*/

[class^="rd-row-"]>*{
	display: inline-block;
    vertical-align: top;
	font-size: initial;
	position: relative;
}

.rd-row-1x>* {width: 100%;}
.rd-row-2x>* {width: 50%;}
.rd-row-3x>* {width: 33.33333%;}
.rd-row-4x>* {width: 25%;}
.rd-row-5x>* {width: 20%;}
.rd-row-6x>* {width: 16.66666%;}
.rd-row-7x>* {width: 14.28571%;}
.rd-row-8x>* {width: 12.5%;}
.rd-row-9x>* {width: 11.11111%;}
.rd-row-10x>* {width: 10%;}
.rd-row-11x>* {width: 9.09090%;}
.rd-row-12x>* {width: 8.33333%;}

@media all and (max-width: 1000px) {
	
}

.rd-margin{
	margin-right: -16px;
}
.rd-margin>*>*{
	margin-right: 16px;
	margin-bottom: 16px;
}

.rd-padding>*>*{
	padding: 16px;
}

.rd-row [class^="rd-line-"]{
	margin-bottom: 8px;
}

.rd-row img{
	max-width:100%;
}

.rd-image {
	max-width: 100%;
	min-height: 200px;
	text-align: center;
	background-size:cover;
	background-position: 50% 50%;
	margin-bottom: 8px;
}

@media all and (max-width: 500px) {
	.rd-image{
		min-height: 300px;
	}
}