/*
	RD CSS/JS Framework + Normalize + Blank
	
	Powered by Руслан Enfo Дмитриев
	http://rdmitriev.ru/githab/RD
	https://github.com/RDmitriev/RD
*/

/*@font-face {
	font-family: Pompadur;
	src: url(fonts/pompadur.ttf);
}*/

body{
	color:#000;
	font-size:14px;
	font-family: Arial;
}
a{
	color:#000;
	font-size:14px;
	font-family: Arial;
}
h1, .h1{
	color:#000;
	font-size:21px;
	font-family: Arial;
}

[class^="box-"]{
	padding:50px 0;
}

.box-1{background: url(img/bg1.jpg) top center no-repeat;background-size:cover;}
.box-1 .line-1{} .box-1 .line-1 a{}
.box-1 .line-2{} .box-1 .line-2 a{}
.box-1 .line-3{} .box-1 .line-3 a{}
.box-1 .line-4{} .box-1 .line-4 a{}
.box-1 .line-5{} .box-1 .line-5 a{}
.box-1 .line-6{} .box-1 .line-6 a{}
.box-1 .line-7{} .box-1 .line-7 a{}
.box-1 .line-8{} .box-1 .line-8 a{}
.box-1 .line-9{} .box-1 .line-9 a{}
.box-1 .line-10{} .box-1 .line-10 a{}

.box-2{background: url(img/bg2.jpg) top center no-repeat;background-size:cover;}
.box-2 .line-1{} .box-2 .line-1 a{}
.box-2 .line-2{} .box-2 .line-2 a{}
.box-2 .line-3{} .box-2 .line-3 a{}
.box-2 .line-4{} .box-2 .line-4 a{}
.box-2 .line-5{} .box-2 .line-5 a{}
.box-2 .line-6{} .box-2 .line-6 a{}
.box-2 .line-7{} .box-2 .line-7 a{}
.box-2 .line-8{} .box-2 .line-8 a{}
.box-2 .line-9{} .box-2 .line-9 a{}
.box-2 .line-10{} .box-2 .line-10 a{}

.box-3{background: url(img/bg3.jpg) top center no-repeat;background-size:cover;}
.box-3 .line-1{} .box-3 .line-1 a{}
.box-3 .line-2{} .box-3 .line-2 a{}
.box-3 .line-3{} .box-3 .line-3 a{}
.box-3 .line-4{} .box-3 .line-4 a{}
.box-3 .line-5{} .box-3 .line-5 a{}
.box-3 .line-6{} .box-3 .line-6 a{}
.box-3 .line-7{} .box-3 .line-7 a{}
.box-3 .line-8{} .box-3 .line-8 a{}
.box-3 .line-9{} .box-3 .line-9 a{}
.box-3 .line-10{} .box-3 .line-10 a{}

.box-4{background: url(img/bg4.jpg) top center no-repeat;background-size:cover;}
.box-4 .line-1{} .box-4 .line-1 a{}
.box-4 .line-2{} .box-4 .line-2 a{}
.box-4 .line-3{} .box-4 .line-3 a{}
.box-4 .line-4{} .box-4 .line-4 a{}
.box-4 .line-5{} .box-4 .line-5 a{}
.box-4 .line-6{} .box-4 .line-6 a{}
.box-4 .line-7{} .box-4 .line-7 a{}
.box-4 .line-8{} .box-4 .line-8 a{}
.box-4 .line-9{} .box-4 .line-9 a{}
.box-4 .line-10{} .box-4 .line-10 a{}

.box-5{background: url(img/bg5.jpg) top center no-repeat;background-size:cover;}
.box-5 .line-1{} .box-5 .line-1 a{}
.box-5 .line-2{} .box-5 .line-2 a{}
.box-5 .line-3{} .box-5 .line-3 a{}
.box-5 .line-4{} .box-5 .line-4 a{}
.box-5 .line-5{} .box-5 .line-5 a{}
.box-5 .line-6{} .box-5 .line-6 a{}
.box-5 .line-7{} .box-5 .line-7 a{}
.box-5 .line-8{} .box-5 .line-8 a{}
.box-5 .line-9{} .box-5 .line-9 a{}
.box-5 .line-10{} .box-5 .line-10 a{}

.box-6{background: url(img/bg6.jpg) top center no-repeat;background-size:cover;}
.box-6 .line-1{} .box-6 .line-1 a{}
.box-6 .line-2{} .box-6 .line-2 a{}
.box-6 .line-3{} .box-6 .line-3 a{}
.box-6 .line-4{} .box-6 .line-4 a{}
.box-6 .line-5{} .box-6 .line-5 a{}
.box-6 .line-6{} .box-6 .line-6 a{}
.box-6 .line-7{} .box-6 .line-7 a{}
.box-6 .line-8{} .box-6 .line-8 a{}
.box-6 .line-9{} .box-6 .line-9 a{}
.box-6 .line-10{} .box-6 .line-10 a{}

.box-7{background: url(img/bg7.jpg) top center no-repeat;background-size:cover;}
.box-7 .line-1{} .box-7 .line-1 a{}
.box-7 .line-2{} .box-7 .line-2 a{}
.box-7 .line-3{} .box-7 .line-3 a{}
.box-7 .line-4{} .box-7 .line-4 a{}
.box-7 .line-5{} .box-7 .line-5 a{}
.box-7 .line-6{} .box-7 .line-6 a{}
.box-7 .line-7{} .box-7 .line-7 a{}
.box-7 .line-8{} .box-7 .line-8 a{}
.box-7 .line-9{} .box-7 .line-9 a{}
.box-7 .line-10{} .box-7 .line-10 a{}

.box-8{background: url(img/bg8.jpg) top center no-repeat;background-size:cover;}
.box-8 .line-1{} .box-8 .line-1 a{}
.box-8 .line-2{} .box-8 .line-2 a{}
.box-8 .line-3{} .box-8 .line-3 a{}
.box-8 .line-4{} .box-8 .line-4 a{}
.box-8 .line-5{} .box-8 .line-5 a{}
.box-8 .line-6{} .box-8 .line-6 a{}
.box-8 .line-7{} .box-8 .line-7 a{}
.box-8 .line-8{} .box-8 .line-8 a{}
.box-8 .line-9{} .box-8 .line-9 a{}
.box-8 .line-10{} .box-8 .line-10 a{}

.box-9{background: url(img/bg9.jpg) top center no-repeat;background-size:cover;}
.box-9 .line-1{} .box-9 .line-1 a{}
.box-9 .line-2{} .box-9 .line-2 a{}
.box-9 .line-3{} .box-9 .line-3 a{}
.box-9 .line-4{} .box-9 .line-4 a{}
.box-9 .line-5{} .box-9 .line-5 a{}
.box-9 .line-6{} .box-9 .line-6 a{}
.box-9 .line-7{} .box-9 .line-7 a{}
.box-9 .line-8{} .box-9 .line-8 a{}
.box-9 .line-9{} .box-9 .line-9 a{}
.box-9 .line-10{} .box-9 .line-10 a{}

.box-10{background: url(img/bg10.jpg) top center no-repeat;background-size:cover;}
.box-10 .line-1{} .box-10 .line-1 a{}
.box-10 .line-2{} .box-10 .line-2 a{}
.box-10 .line-3{} .box-10 .line-3 a{}
.box-10 .line-4{} .box-10 .line-4 a{}
.box-10 .line-5{} .box-10 .line-5 a{}
.box-10 .line-6{} .box-10 .line-6 a{}
.box-10 .line-7{} .box-10 .line-7 a{}
.box-10 .line-8{} .box-10 .line-8 a{}
.box-10 .line-9{} .box-10 .line-9 a{}
.box-10 .line-10{} .box-10 .line-10 a{}

.box-11{background: url(img/bg11.jpg) top center no-repeat;background-size:cover;}
.box-11 .line-1{} .box-11 .line-1 a{}
.box-11 .line-2{} .box-11 .line-2 a{}
.box-11 .line-3{} .box-11 .line-3 a{}
.box-11 .line-4{} .box-11 .line-4 a{}
.box-11 .line-5{} .box-11 .line-5 a{}
.box-11 .line-6{} .box-11 .line-6 a{}
.box-11 .line-7{} .box-11 .line-7 a{}
.box-11 .line-8{} .box-11 .line-8 a{}
.box-11 .line-9{} .box-11 .line-9 a{}
.box-11 .line-10{} .box-11 .line-10 a{}

.box-12{background: url(img/bg12.jpg) top center no-repeat;background-size:cover;}
.box-12 .line-1{} .box-12 .line-1 a{}
.box-12 .line-2{} .box-12 .line-2 a{}
.box-12 .line-3{} .box-12 .line-3 a{}
.box-12 .line-4{} .box-12 .line-4 a{}
.box-12 .line-5{} .box-12 .line-5 a{}
.box-12 .line-6{} .box-12 .line-6 a{}
.box-12 .line-7{} .box-12 .line-7 a{}
.box-12 .line-8{} .box-12 .line-8 a{}
.box-12 .line-9{} .box-12 .line-9 a{}
.box-12 .line-10{} .box-12 .line-10 a{}

.box-13{background: url(img/bg13.jpg) top center no-repeat;background-size:cover;}
.box-13 .line-1{} .box-13 .line-1 a{}
.box-13 .line-2{} .box-13 .line-2 a{}
.box-13 .line-3{} .box-13 .line-3 a{}
.box-13 .line-4{} .box-13 .line-4 a{}
.box-13 .line-5{} .box-13 .line-5 a{}
.box-13 .line-6{} .box-13 .line-6 a{}
.box-13 .line-7{} .box-13 .line-7 a{}
.box-13 .line-8{} .box-13 .line-8 a{}
.box-13 .line-9{} .box-13 .line-9 a{}
.box-13 .line-10{} .box-13 .line-10 a{}

.box-14{background: url(img/bg14.jpg) top center no-repeat;background-size:cover;}
.box-14 .line-1{} .box-14 .line-1 a{}
.box-14 .line-2{} .box-14 .line-2 a{}
.box-14 .line-3{} .box-14 .line-3 a{}
.box-14 .line-4{} .box-14 .line-4 a{}
.box-14 .line-5{} .box-14 .line-5 a{}
.box-14 .line-6{} .box-14 .line-6 a{}
.box-14 .line-7{} .box-14 .line-7 a{}
.box-14 .line-8{} .box-14 .line-8 a{}
.box-14 .line-9{} .box-14 .line-9 a{}
.box-14 .line-10{} .box-14 .line-10 a{}

.box-15{background: url(img/bg15.jpg) top center no-repeat;background-size:cover;}
.box-15 .line-1{} .box-15 .line-1 a{}
.box-15 .line-2{} .box-15 .line-2 a{}
.box-15 .line-3{} .box-15 .line-3 a{}
.box-15 .line-4{} .box-15 .line-4 a{}
.box-15 .line-5{} .box-15 .line-5 a{}
.box-15 .line-6{} .box-15 .line-6 a{}
.box-15 .line-7{} .box-15 .line-7 a{}
.box-15 .line-8{} .box-15 .line-8 a{}
.box-15 .line-9{} .box-15 .line-9 a{}
.box-15 .line-10{} .box-15 .line-10 a{}

.box-16{background: url(img/bg16.jpg) top center no-repeat;background-size:cover;}
.box-16 .line-1{} .box-16 .line-1 a{}
.box-16 .line-2{} .box-16 .line-2 a{}
.box-16 .line-3{} .box-16 .line-3 a{}
.box-16 .line-4{} .box-16 .line-4 a{}
.box-16 .line-5{} .box-16 .line-5 a{}
.box-16 .line-6{} .box-16 .line-6 a{}
.box-16 .line-7{} .box-16 .line-7 a{}
.box-16 .line-8{} .box-16 .line-8 a{}
.box-16 .line-9{} .box-16 .line-9 a{}
.box-16 .line-10{} .box-16 .line-10 a{}

.box-17{background: url(img/bg17.jpg) top center no-repeat;background-size:cover;}
.box-17 .line-1{} .box-17 .line-1 a{}
.box-17 .line-2{} .box-17 .line-2 a{}
.box-17 .line-3{} .box-17 .line-3 a{}
.box-17 .line-4{} .box-17 .line-4 a{}
.box-17 .line-5{} .box-17 .line-5 a{}
.box-17 .line-6{} .box-17 .line-6 a{}
.box-17 .line-7{} .box-17 .line-7 a{}
.box-17 .line-8{} .box-17 .line-8 a{}
.box-17 .line-9{} .box-17 .line-9 a{}
.box-17 .line-10{} .box-17 .line-10 a{}

.box-18{background: url(img/bg18.jpg) top center no-repeat;background-size:cover;}
.box-18 .line-1{} .box-18 .line-1 a{}
.box-18 .line-2{} .box-18 .line-2 a{}
.box-18 .line-3{} .box-18 .line-3 a{}
.box-18 .line-4{} .box-18 .line-4 a{}
.box-18 .line-5{} .box-18 .line-5 a{}
.box-18 .line-6{} .box-18 .line-6 a{}
.box-18 .line-7{} .box-18 .line-7 a{}
.box-18 .line-8{} .box-18 .line-8 a{}
.box-18 .line-9{} .box-18 .line-9 a{}
.box-18 .line-10{} .box-18 .line-10 a{}

.box-19{background: url(img/bg19.jpg) top center no-repeat;background-size:cover;}
.box-19 .line-1{} .box-19 .line-1 a{}
.box-19 .line-2{} .box-19 .line-2 a{}
.box-19 .line-3{} .box-19 .line-3 a{}
.box-19 .line-4{} .box-19 .line-4 a{}
.box-19 .line-5{} .box-19 .line-5 a{}
.box-19 .line-6{} .box-19 .line-6 a{}
.box-19 .line-7{} .box-19 .line-7 a{}
.box-19 .line-8{} .box-19 .line-8 a{}
.box-19 .line-9{} .box-19 .line-9 a{}
.box-19 .line-10{} .box-19 .line-10 a{}

.box-20{background: url(img/bg20.jpg) top center no-repeat;background-size:cover;}
.box-20 .line-1{} .box-20 .line-1 a{}
.box-20 .line-2{} .box-20 .line-2 a{}
.box-20 .line-3{} .box-20 .line-3 a{}
.box-20 .line-4{} .box-20 .line-4 a{}
.box-20 .line-5{} .box-20 .line-5 a{}
.box-20 .line-6{} .box-20 .line-6 a{}
.box-20 .line-7{} .box-20 .line-7 a{}
.box-20 .line-8{} .box-20 .line-8 a{}
.box-20 .line-9{} .box-20 .line-9 a{}
.box-20 .line-10{} .box-20 .line-10 a{}

.menu1open{
	display: none;
	cursor:pointer;
	font-size:24px;
	color:#000;
	padding:10px 0;
}
.menu2open{
	display: none;
	cursor:pointer;
	font-size:24px;
	color:#000;
	padding:10px 0;
	text-align: center;
}
@media all and (max-width: 700px) {
	.rd-menu{
		display: none;
	}
	.menu1open{
		display: block;
	}
	.menu2open{
		display: block;
	}
	
	.showMenu{
		display:block;
	}
}